@use '../../scss/allmixin';
@use '../../scss/variables';


.content-container {
    @include allmixin.flex-container-col;
    background-color: white;
    padding: 1rem 1rem 0.25rem 1rem;
    border-radius: 8px;
    justify-content: center;
    margin-bottom: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.2);

    @media screen and (max-width: 480px) {
        padding: 1rem 0.25rem;
    }
    
    span.separator {
        margin: 0 0.25rem;
        color: rgba(0,0,0,0.6);
    }

    .creator {
        @include allmixin.flex-container-row;
        position: relative;

        .creator-details {
            .creator-subtitle {
                span.following {
                    display: inline-block;
                    text-overflow: ellipsis;
                    overflow: hidden; 
                    white-space: nowrap;
                    font-size: 0.85rem;
                    color: rgba(0,0,0,0.6);
                    width: 400px;
                }
            }

            .creator-title {
                @include allmixin.flex-container-row;
                align-items: center;
                
                h5 {
                    margin: 0;
                    font-size: 0.9rem;
                    color: rgba(0,0,0,0.9);
                    font-weight: 600;
                }

                span.following {
                    margin: 0;
                    font-size: 0.85rem;
                    color: rgba(0,0,0,0.6);

                }
                span.separator {
                    margin: 0 0.25rem;
                    color: rgba(0,0,0,0.6);
                }
            }
        }

        .profile {
            display: flex;
            align-items: center;
            margin-right: 0.5rem;
            img {
                height: 50px;
                width: 50px;
                border-radius: 50%;
            }
        }
    }

    .post-content-container {
        padding: 0 0.5rem;
        p.post-content {
            white-space: pre-line;
            font-size: 0.9rem;
            color: rgba(0,0,0, 0.8);
        }

        img {
            width: 100%;
            min-height: 300px;
        }
    }

    .engagements-container {
        .engagements {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            font-size: 0.7rem;
            font-weight: 400;
            align-items: center;
            color: rgba(0,0,0,0.6);
            border-bottom: 1px solid rgba(0,0,0,0.1);
            padding: 0.5rem;

            .comment-share {
                span {
                    &:first-of-type, &:last-of-type {
                        cursor: pointer;
                        &:hover {
                            text-decoration: underline;
                            color: variables.$main-color;
                        }
                    }
                }
            }

            .like-support-love {
                span {
                    margin-right: 0.25rem;
                    vertical-align: -webkit-baseline-middle;
                    img {
                        width: 20px;
                        height: 20px;
                    }
                    img {
                        border: 0.5px solid white;
                        border-radius: 50%;
                        transition: margin-bottom 300ms ease-in-out;

                        &:hover {
                            position: relative;
                            margin-bottom: 0.125rem;
                            z-index: 8;
                            border: none;
                        }
                    }
                    img:nth-child(1) {
                        z-index: 1;
                    }

                    img:nth-child(2) {
                       z-index: 2;
                       margin-left: -6px;
                    }

                    img:nth-child(3) {
                       z-index: 3;
                       margin-left: -6px;
                    }
                    img:nth-child(4) {
                        z-index: 4;
                        margin-left: -6px;
                     }
                     img:nth-child(5) {
                        z-index: 5;
                        margin-left: -6px;
                     }
                     img:nth-child(6) {
                        z-index: 6;
                        margin-left: -6px;
                     }
                     img:nth-child(7) {
                        z-index: 7;
                        margin-left: -6px;
                     }
                }

                span:last-of-type {
                    vertical-align: middle;
                }
            }
        }
    }
}

@media screen and (max-width:480px) {
    .content-container .creator .creator-details .creator-subtitle span.following {
        width: 300px;
    }
}