@use '../../scss/_variables.scss';
@use '../../scss/_allmixin.scss';


:root {
    --color-background-canvas: #f3f2f0;
    --color-background-canvas-mobile: #eae6df;
    --color-background-canvas-tint: #ffffff;
    --color-background-canvas-dark: #000000;
    --color-text-dark: #8f5849;
}
main.landing {

    section.social {
        padding: 4rem 3.5rem;
        background-color: var(--color-background-canvas-tint);
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .connect-people, .learn-skills {
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            h1 {
                margin: 0;
                margin: 2rem 0;
                font-size: 3rem;
                font-weight: 200;
                color: rgba(0, 0, 0, 0.9);
                line-height: 1.25;

            }

            img {
                width: 300px;
                height: 300px;
            }

            button {
                display: block;
                cursor: pointer;
                padding: 1rem 1.5rem;
                font-size: 1.25rem;
                color: rgba(0, 0, 0, 0.6);
                border: 1px solid rgba(0, 0, 0, 0.6);
                min-height: 2rem;
                font-weight: 600;
                background-color: transparent;
                min-height: 3.5rem;
                position: relative;

                &:hover {
                    background-color: rgba(0, 0, 0, 0.05);;
                }

                &.find-people {
                    border-radius: 35px;
                }

                &.choose-topic {
                    span {
                        margin-right: 1rem;
                    }
                }
                
                ul.topics-dropdown {
                    position: absolute;
                    top: 100%;
                    left: 0;
                    right: 0;
                    overflow-y: scroll;
                    max-height: 300px;
                    // min-width: 250px;
                    border: 1px solid rgba(0,0,0,0.2);

                    li {
                        padding: 1rem;
                        a {
                            display: flex;
                            flex-direction: column;
                            justify-items: center;
                            align-items: flex-start;
                            span:first-of-type {
                                color:rgba(0, 0, 0, 0.7);
                                font-weight: 600;
                                font-size: 0.9rem;
                            }

                            span:last-of-type {
                                color:rgba(0, 0, 0, 0.4);
                                font-weight: 500;
                                font-size: 0.75rem;
                            }
                        }
                        a:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }
            
        }
    }

    section.linkedin-promote {
        overflow: hidden;
        position: relative;
        padding: 6rem 3.5rem;
        background-color: var(--color-background-canvas);
        .navigation-button {
            display: flex;
            justify-content: flex-end;
            margin-bottom: 2rem;

            .button {
                border: none;
                background-color: transparent;
                cursor: pointer;
                padding: 0.5rem 0.75rem;
                color: rgba(0,0,0,0.5);
                font-size: 1rem;
                font-weight: 600;
                border-radius: 6px;

                &:hover {
                    color: rgba(0,0,0,0.7);
                    background-color: rgba(0,0,0,0.05);
                }

                svg {
                    margin-right: 0.5rem;
                }
            }
            .previous {
                svg {
                    margin-right: 0.5rem;
                }
            }
            .next {
                svg {
                    margin-left: 0.5rem;
                }
            }

            
        }

        .carousel-container {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            transform: translate3d(0, 0px, 0px);
            transition: transform 500ms ease-in-out;
            .carousel-holder {
                display: flex;
                flex: 0 0 100%;
            }
            .carousel-item {
                position: relative;
                display: flex;
                flex-direction: row;
                width: 100%;
                align-items: center;
                .carousel-text {
                    width: 50%;
                    h1, h4 {
                        margin: 0;
                        line-height: 1.25;
                    }

                    h1 {
                       color: var(--color-text-dark);
                       font-size: 2.5rem;
                       font-weight: 400;
                    }
                    h4 {
                        margin-top: 1rem;
                        color: rgba(0, 0, 0, 0.9);        
                        font-weight: 200;
                        font-size: 2rem;
                    }
                    
                }

                .carousel-image {
                    width: 50%;
                    display: flex;
                    justify-content: center;
                    img {
                        height: 400px;
                        width: 400px;
                    }
                }
            }
        }
    }
    section.post-job {
        display: flex;
        flex-direction: row;
        align-items: center;

        padding: 5rem 3.5rem;
        background-color: var(--color-background-canvas-mobile);
        h1 {
            margin: 0;
            font-size: 40px;
            font-weight: 400;
            color: #b24020;
            width: 50%;
            margin-right: 2rem;
        }

        button {
            font-size: 1.1rem;
            font-weight: 600;
            padding: 1rem;
            height: 80%;
            cursor: pointer;
            color: variables.$main-color;
            transition: color 300ms ease-in-out, background-color 300ms ease-in-out;
            border: 1px solid variables.$main-color;
            border-radius: 25px;

            &:hover {
                box-shadow:inset 0px 0px 0px 1px variables.$main-color;
            }
                 
        }
    }
    
    section.find-job, section.explore-topics {
        padding: 2rem 3.5rem;
        background-color: var(--color-background-canvas);
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        h1 {
            font-size: 3rem;
            font-weight: 200;
            color: rgba(0, 0, 0, 0.9);
            width: 50%;
            margin: 0;
        }

        .suggested-searches {
            user-select: none;
            width:  50%;
            margin-left: 2rem;


            button {
                margin-top: 0.5rem;
                border: none;
                cursor: pointer;
                display: flex;
                color: rgba(0,0,0, 0.6);
                font-weight: 500;
                font-size: 1rem;
                align-items: center;
                padding: 0.5rem;
                background-color: transparent;
                border-radius: 25px;
    
                &:hover {
                    background-color: rgba(0,0,0, 0.05);
                }
    
                .show-more {
                    margin-right: 0.25rem;
                }
            }
            h4 {
                font-size: 16px;
                font-weight: 600;
                text-transform: uppercase;
                line-height: 1.25;
                color: rgba(0, 0, 0, 0.6);
                
            }


            .search-pills {
                span {
                    display: inline-block;
                    cursor: pointer;
                    padding: 1rem;
                    font-size: 1rem;
                    color: rgba(0, 0, 0, 0.6);
                    border: 2px solid rgba(0, 0, 0, 0.6);
                    border-radius: 35px;
                    margin-bottom: 1rem;
                    margin-right: 1rem;
                    min-height: 2rem;
                    font-weight: 600;
                    &:hover {
                        background-color: rgba(0, 0, 0, 0.05);;
                    }
                }
            }
        }
    }
    section.explore-topics {
        background-color: var(--color-background-canvas-mobile);
    }
    .welcome-section {
        padding: 0rem 3.5rem;
        padding-top: 4rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        overflow: hidden;

        .login-section {
                display: flex;
                flex-direction: column;
                align-items: flex-start;


            h1 {
                color: #8f5849;
                font-size: 56px;
                font-weight: 200;
                margin:0;
                margin-bottom: 0.5rem;
            }

            .login-form {
                display: flex;
                flex-direction: column;
                width: 70%;
        
        
                input {
                    padding: 1em;
                    border: none;
                    font-size: 1em;
                    font-weight: 400;
                    border: 1px solid #ccc;
                    border-radius: variables.$border-radius;
                    margin: 1em 0;
                    position: relative;
                    width: 100%;
                }
        
        
                input:focus {
                    outline: variables.$focus-outline-color;            
                }
        
                button[type="submit"] {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin: 1em 0;
                    @include allmixin.button;
                    font-weight: 700;
                    border-radius: 25px;
                    cursor: pointer;
        
                    &:hover {
                        background-color: variables.$button-hover-color;
                    }
        
                    &.disabled {
                        cursor: not-allowed;
                    }
                }
            }
        }

        img {
            width: 800px;
            height: 500px;
            background-size: cover;
            margin-right: -150px;
        }
    }
}


nav {
    &.navigation {
        &.landing {
            position: static;
            padding-top: 1rem;
            border-bottom: none;

            .logo-search-container {
                img {
                    height: 40px;
                }
            }
            .nav-links {
                ul {
                    li {
                        
                        &.join-now {
                            border-left: 1px solid rgba(0,0,0,0.1);
                            a {
                                display: flex;
                                flex-direction: row;
                                align-items: center;
                                justify-content: center;
                                span {
                                    span {
                                        font-size: 0.9rem;
                                        font-weight: 600;
                                        padding: 0.6rem;
                                        border-radius: 6px;
                                        margin-left: 0.25rem;
                                    
                                        &:hover {
                                            background-color: rgba(0,0,0,0.1);
                                        }
                                    }
                                }
                            }
                        }

                        &.sign-in {
                            a {
                                display: flex;
                                flex-direction: row;
                                align-items: center;
                                justify-content: center;
                                span {
                                    span {
                                        display: inline-block;
                                        font-size: 0.9rem;
                                        font-weight: 600;
                                        padding: 0.6rem;
                                        text-align: center;
                                        border-radius: 6px;
                                        margin-left: 0.35rem;
                                        min-width: 5rem;
                                        border: 2px solid variables.$main-color;
                                        height: 80%;
 
                                        color: variables.$main-color;
                                        transition: color 300ms ease-in-out, background-color 300ms ease-in-out;
                                        border-radius: 25px;
                            
                                        &:hover {
                                            box-shadow:inset 0px 0px 0px 1px variables.$main-color;
                                            
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}