@use '../../../scss/allmixin';
@use '../../../scss/variables';

$font-color: rgba(0,0,0, 0.6);

.post-container {
    background: white;
    border-radius: 6px;
    @include allmixin.flex-container-col;
    justify-content: space-between;
    padding: 0.75rem 1rem;

    .options-container {
        display: flex;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;

        button {
            &.item-container {
                display: flex;
                align-items: center;
                padding: 0.5rem 1rem;
                cursor: pointer;
                border-radius: 4px;
                border: none;
                background-color: white;
                transition: background-color 200ms ease-in-out;
                &:hover {
                    background-color: variables.$hover-bg-color;
                }
                span {
                    margin-left: 0.5rem;
                }
            }
        }
    }

    .create-container {
        @include allmixin.flex-container-row;
        justify-content: space-between;
        margin-bottom: 0.75rem;

        button {
            width: 88%;
            cursor: pointer;
            border-radius: 25px;
            border: none;
            border: 1px solid rgba(0, 0, 0, 0.2);
            background-color: white;
            text-align: left;
            padding: 0 1em;
            color: $font-color;
            font-weight: 600;
            font-size: 0.8em;
            transition: background-color 100ms ease-in-out;
            &:hover {
                background-color: rgba(0, 0, 0, 0.09)
            }
        }

        img {
            height: 50px;
            width: 50px;
            border: 1px solid white;
            border-radius: 50%;
        }
    }
}