@use '../../scss/variables';

main.feed-page {
    padding: 5rem 4rem;
    background-color: variables.$main-bg;
    min-height: 100vh;
}

section.left-pane {
    width: 20%
}

section.middle-pane {
    width: 50%;
}

section.right-pane {
    width: 25%;
}

@media screen and (max-width: 480px) {
    main.feed-page {
        padding: 4rem 0rem;
    }

    section {
        &.left-pane, &.right-pane, &.messages {
            display: none;
        }

        &.middle-pane {
            width: 100%;
        }
    }
}