@use '../../scss/_variables.scss';
@use '../../scss/_allmixin.scss';

nav {
    &.navigation {
        @include allmixin.flex-container-row;
        @include allmixin.flex-center;
        position: fixed;
        background: variables.$item-bg-color;
        width: 100%;
        height: 3.5rem;
        border: 1px solid rgba(0,0,0, 0.12);
        padding: 0 4rem;
        z-index: 1;
    }

    .logo-search-container {
        @include allmixin.flex-container-row;
        @include allmixin.flex-center;

        img {
            display: flex;
        }
    }

    img.profile-image {
        height: 22px;
        width: 22px;
        border-radius: 50%;
    }

    img.work-image {
        height: 22px;
        width: 22px;
    }
}

.profile-dropdown.show {
    display: block;
}

.profile-dropdown.hide {
    display: none;
}

@media screen and (max-width: 480px) {
    nav {
        &.navigation {
            background: white;
            height: 2.5rem;
            padding: 0 0;

            .logo-search-container {
                @include allmixin.flex-container-row;
                @include allmixin.flex-center;
                justify-content: space-between;
                width: 4rem;
        
                img {
                    height: 20px;
                    width: 20px;
                }
            }
        }
    }
}