@use '../../scss/_variables.scss';
@use '../../scss/_allmixin.scss';

@media screen and (max-width: 480px) {
    nav {
        &.navigation-bottom {
            @include allmixin.flex-container-row;
            @include allmixin.flex-center;
            position: fixed;
            background: variables.$item-bg-color;
            width: 100%;
            height: 3rem;
            border: 1px solid rgba(0,0,0, 0.12);
            padding: 0 0;
            z-index: 1;
            bottom: 0;
            .nav-links-login {
                height: 100%;
                display: flex;
                ul {
                    margin: 0;
                    padding: 0;
                    @include allmixin.flex-container-row;
                }
            }
            ul li {
                list-style: none;
                min-width: 5em;
                position: relative;
                height: 100%;
                @include allmixin.flex-container-row;
                @include allmixin.flex-center;
                
                .profile-option {
                    cursor: pointer;
                    @include allmixin.flex-container-col;
                    @include allmixin.flex-center;
            
                    height: 100%;
                    justify-content: center;
                    min-width: 5em;
                    text-decoration: none;
                    color: rgba(0,0,0, 0.5);
                    transition: color 100ms ease-in-out, font-weight 100ms ease-in-out;
            
                    &:hover, &.active {
                        color: rgba(0,0,0, 1);
                        font-weight: 400;
                    }
            
                    &.active {
                        border-bottom: 2px solid black;
                    }
                    
                    span.link-name {
                        font-size: 0.25rem;
                        span {
                            margin-right: 0.125rem;
                        }
                    }
                    & > svg {
                        font-size: 1.25rem;    
                    }
                }
                a {
                    @include allmixin.flex-container-col;
                    @include allmixin.flex-center;
            
                    height: 100%;
                    justify-content: center;
                    min-width: 5em;
                    text-decoration: none;
                    color: rgba(0,0,0, 0.5);
                    transition: color 100ms ease-in-out, font-weight 100ms ease-in-out;
            
                    &:hover, &.active {
                        color: rgba(0,0,0, 1);
                        font-weight: 400;
                    }
            
                    &.active {
                        border-top: 2px solid black;
                    }
                    
                    span.link-name {
                        font-size: 0.65rem;
                        span {
                            margin-right: 0.125rem;
                        }
                    }
                    & > svg {
                        font-size: 1.25rem;
                        transform: scale(1);
                        transition: transform 100ms ease-in-out;
                    }
            
                    &:active {
                        & > svg {    
                           transform: scale(0.8);
                        }
                    }
                }
            
            }
        }
        &.navigation {
           .nav-links-login {
               display: none;
           }
        }
    }
}

// hide bottom navbar on desktop screen
@media screen and (min-width: 480px) {
    nav {
        &.navigation-bottom {
            display: none;
        }
    }
}