@use '../../scss/variables';
@use '../../scss/allmixin';

main.feed-page {
    @include allmixin.flex-container-row;
    justify-content: space-between;
}

aside {
    background: white;
    border-radius: 6px;
    position: relative;
    margin-bottom: 1em;
}

.main-feed {
    margin-top: 1rem;
}

main.feed-page {
    padding: 5rem 4rem;
    background-color: variables.$main-bg;
    min-height: 100vh;
}

section.left-pane {
    width: 20%
}

section.middle-pane {
    width: 50%;
}

section.right-pane {
    width: 25%;
}

@media screen and (max-width: 480px) {
    main.feed-page {
        padding: 4rem 0rem;
    }

    section {
        &.left-pane, &.right-pane, &.messages {
            display: none;
        }

        &.middle-pane {
            width: 100%;
        }
    }
}