@use '../../scss/variables';

div {
    &.notifications {
        ul.list {
            border: 1px solid rgba(0,0,0,0.05);
            border-radius: 10px;
            li.list-item {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                padding: 1rem;
                border-bottom: 1px solid rgba(0,0,0,0.05);
                min-width: 6rem;

                &.read {
                    background-color: white;
                }

                &.unread {
                    background-color: variables.$hover-light-blue-bg;
                    list-style:circle;
                }

                .profile-section {
                    width: 10%;
                    img {
                        height: 50px;
                        width: 50px;
                        border-radius: 50%;
                    }
                }

                .main-content {
                    cursor: pointer;
                    width: 75%;


                    b {
                        font-weight: 500;
                    }
                }

                .time-and-options {
                    width: 10%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;

                    span:first-of-type {
                        font-size: 0.8rem;
                        color: rgba(0,0,0,0.5);
                    }
                    span:last-of-type {
                        font-size: 1rem;
                        color: rgba(0,0,0,0.8);
                        cursor: pointer;
                        padding: 0.4rem 0.5rem;

                        &:hover {
                            background-color: rgba(0,0,0,0.1);
                            border-radius: 50%;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 480px) {
    div {
        &.notifications {
            ul.list {
                li.list-item {
                    .profile-section {
                        width: 15%;
                    }
                }
           }
        }
    }
}