@use '../../scss/_allmixin.scss';
@use '../../scss/_variables.scss';

.newLinkedIN {
    @include allmixin.flex-container-row;
    @include allmixin.flex-middle;
    
    margin-top: 1rem;

    .button.join-now {
        margin-left: 0.25rem;
        justify-content: center;
        align-items: center;
        font-size: 1rem;
        cursor: pointer;
        font-weight: 600;
        padding: 0.5rem 0.5rem 0.4rem;
        border-radius: 25px;
        border: none;
        color: variables.$main-color;
        background-color: white;
        transition: box-shadow 200ms ease-in-out;

        &:hover {
            background-color: white;
            box-shadow:inset 0px 0px 0px 2px variables.$main-color;
            text-decoration: underline;
        }

        &.disabled {
            cursor: not-allowed;
        }
    }
}

