@use '../../scss/_allmixin.scss';
@use '../../scss/_variables.scss';

main.login-main {
    padding: 3em;
}

main.main {
    @include allmixin.flex-container-row;

    justify-content: center;
    align-items: center
}

.login-section {
    @include allmixin.flex-container-row;

    justify-content: center;
    align-items: center
}

.login-container {
    @include allmixin.flex-container-col;

    background: white;
    border-radius: 8px;
    padding: 1em 1.5em;
    box-shadow: 0 4px 12px rgb(0 0 0 / 15%);

    a {
        text-decoration: none;
    }

    header h1 {
        margin: 0.5em 0;

        .title {
            font-size: 2em;
            font-weight: 600;
        }
    }

    .login-form {
        display: flex;
        flex-direction: column;


        input {
            padding: 1em;
            border: none;
            font-size: 1em;
            font-weight: 400;
            border: 1px solid #ccc;
            border-radius: variables.$border-radius;
            margin: 1em 0;
            position: relative;
            width: 100%;
        }


        input:focus {
            outline: variables.$focus-outline-color;            
        }

        button[type="submit"] {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 1em 0;
            @include allmixin.button;
            font-weight: 700;
            border-radius: 25px;
            cursor: pointer;

            &:hover {
                background-color: variables.$button-hover-color;
            }

            &.disabled {
                cursor: not-allowed;
            }
        }
    }
}