$main-color: #0a66c2;
$main-color-light: #3498db;
$focus-outline-color: 2px solid $main-color;
$border-radius: 4px;
$button-hover-color: #004182;

$main-bg: #f3f2ef;

$item-bg-color: #ffffff;
$item-text-color: rgba(0,0,0, 0.6);

$navlink-search-bg-color: #eef3f8;
$navlink-search-text-color: rgba(0,0,0,0.9);

$hover-bg-color: rgba(0, 0, 0, 0.12);

$border-color: 1px solid rgba(0, 0, 0, 0.08);

